@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
	h1 {
		@apply  text-6xl sm:text-4xl font-bold;
	}
	h2 {
		@apply text-2xl;
	}
	h3 {
		@apply text-lg;
	}
	h4 {
		@apply text-base;
	}
	p {
		@apply text-base;
	}
  .btn {
    @apply  text-white text-xl ;
  }

}
.bg-blue-700{
  background-color: #2A7CC7;
} 
.first-block-img {
  background-repeat: 100% 100%
}


.content-section__text{
	animation: fadeIn ease 5s;

}

@keyframes fadeIn{
	0% {
	  opacity:0;
	}
	100% {
	  opacity:1;
	}
  }

  .features-item{
	animation: scaleElem ease 1s;
  }
@keyframes scaleElem{
	from {
		transform: scaleX(0);
	  }
	  to {
		transform: scaleX(1);
	  }
  }
:root {
  --blue-color: #2091F9;
}
.flash-gradient{
	background: radial-gradient(circle, rgba(162,218,2,0.5634628851540616) 0%, rgba(136,183,2,0) 61%);
	opacity: 0.4;
}
